body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fa%2Ff%2F5%2F141473-best-travel-background-2560x1600-for-ipad-pro.jpg&f=1&nofb=1") ;
    background-size: cover;
    background-repeat: no-repeat;
}