{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sortie') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Annuler une Sortie</li>
        </ol>
    </nav>
    <br>
    <div>
        <h2 class="text-center mt-5">Annuler une sortie</h2>
    </div>
    <div>
        Nom de la sortie : {{ sortie.nom }}
    </div>
    <div>
        Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d-m-Y') }}
    </div>
    <div>
        Campus :
    </div>
    <div>
        Lieu :
    </div>
    <div>
        Motif :
    </div>

    <div>
        <a class="btn btn-danger" href="{{ path('sortie') }}">Annuler</a>
    </div>
{% endblock %}
