{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}
        <button>Créer une sortie</button>
    {{ form_end(sortieForm) }}
{% endblock %}
