<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
    <a class="nav-link link-light" href="#">Accueil</a>
    {# {% if is_granted("ROLE_ADMIN") %} #}
    <a class="nav-link link-light" href="#">Ville</a>
    <a class="nav-link link-light" href="#">Campus</a>
    {# {% endif %} #}
    <a class="nav-link link-light" href="#">Mon profil</a>
    <a class="nav-link link-light me-5" href="#">Deconnexion</a>
</nav>